
.row-fluid
    .span6.offset3.text-center
        h1 Welcome to #{title}

.row-fluid
    .span4.offset2.text-center
        h3
            a(href="/new") Ask for suggestions
    .span4.text-center
        h3
            a(href="/browse") Offer suggestions
